.header {
  display: flex;
  align-items: center;
  font-family: 'Poppins', sans-serif;
  padding: 1rem;
  background-color: rgb(22, 23, 23);
  height: 60px;
  width: 100%;
}
.nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
}
.h1 {
  font-family: 'Pushster', cursive;
  background: linear-gradient(45deg, rgb(155, 178, 253), rgb(245, 243, 122));
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.search {
  border: 1px solid rgb(206, 206, 206);
  border-radius: 25px;
  padding: 0.5rem 1rem;
  width: 200px;
  margin-right: 0.5rem;
  background-color: rgb(22, 23, 23);
  color: white;
  transition: all 0.2s ease;
}
.search:focus {
  outline: none;
}
.search:hover {
  border-color: rgb(245, 243, 122);
}
.searchBtn {
  background-color: rgb(175, 255, 195);
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 25px;
  transition: all 0.2s ease;
  color: black;
  cursor: pointer;
}
.searchBtn:hover {
  background-color: rgb(143, 241, 167);
}
